In [19]:
# Dependencies
%matplotlib notebook
import pandas as pd
import pathlib as path
import numpy as np
import matplotlib.pyplot as plt
import os
import requests
import hvplot.pandas
import datetime as dt
import seaborn as sns
from pprint import pprint
import certifi
import json

In [20]:
# import data for G20_data and Global_data
G20_data=pd.read_csv("Resource/GDP20.csv")
Global_data = pd.read_csv("Resource/Global_data.csv")

In [21]:
# print the data frame for Global_data
Global_data.head(10)

,Company_Name,Country,Market_Cap,P/E_Ratio,Dividend
0,Microsoft DRC,Argentina,2.557400e+09,36.97,0.10
1,Apple DRC,Argentina,2.364020e+09,28.31,0.03
2,NVIDIA,Argentina,1.627070e+09,65.68,0.00
3,Broadcom,Argentina,5.124900e+08,34.55,0.34
4,Taiwan Semiconductor Manufacturing Co,Argentina,4.801000e+08,19.98,0.19
5,Visa,Argentina,4.782200e+08,32.69,0.12
6,Mastercard,Argentina,3.690700e+08,39.57,0.08
7,Oracle,Argentina,2.580100e+08,30.05,0.34
8,SAP SE DRC,Argentina,1.793700e+08,32.42,0.24
9,Cisco Systems DRC,Argentina,1.659400e+08,14.86,0.32

In [22]:
# print the data frame for G20_data
G20_data.head(10)

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,3.9,-2.4,-20.7,no data,no data,no data,no data,no data,no data,no data
1,Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,...,2.1,-3.3,8.9,4.8,3.6,3.3,3.4,3.5,3.5,3.5
2,Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,...,1,-5.1,3.4,3.2,3.8,3.1,2.5,1.9,1.7,1.7
3,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,2,-11.2,8.3,8.8,2.1,1.5,1.5,1.5,1.5,1.5
4,Angola,2.4,-4.4,0,4.2,6,3.5,2.9,4.1,6.1,...,-0.7,-5.6,1.2,3,1.3,3.3,3.4,3.5,3.5,3.6
5,Antigua and Barbuda,8.2,3.8,-0.1,5.4,10.2,7.6,11.5,6.6,5.2,...,4.3,-17.5,6.6,8.5,5.6,5.4,4.2,2.8,2.8,2.8
6,Argentina,0.7,-5.7,-3.1,3.7,2,-7,7.1,2.5,-2,...,-2,-9.9,10.7,5,-2.5,2.8,3.3,3,2.8,2.5
7,Armenia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,7.6,-7.2,5.7,12.6,7,5,4.5,4.5,4.5,4.5
8,Aruba,no data,no data,no data,no data,no data,no data,no data,16.1,18.6,...,-2.3,-24,27.6,10.5,2.3,1.2,1.2,1.1,1.1,1.1
9,Australia,2.9,4.1,0.1,-0.5,6.3,5.5,2.4,4.9,4.3,...,1.9,-1.8,5.2,3.7,1.8,1.2,2,2.2,2.3,2.3

# Cleaning the data

In [23]:
# Set index for Global_data
Global_data = Global_data.set_index("Company_Name")

# Set index for G20_data
G20_data = G20_data.set_index("Country Name")

In [24]:
# print the Global_data frame after cleaning
Global_data.head(10)

,Country,Market_Cap,P/E_Ratio,Dividend
Company_Name,,,,
Microsoft DRC,Argentina,2.557400e+09,36.97,0.10
Apple DRC,Argentina,2.364020e+09,28.31,0.03
NVIDIA,Argentina,1.627070e+09,65.68,0.00
Broadcom,Argentina,5.124900e+08,34.55,0.34
Taiwan Semiconductor Manufacturing Co,Argentina,4.801000e+08,19.98,0.19
Visa,Argentina,4.782200e+08,32.69,0.12
Mastercard,Argentina,3.690700e+08,39.57,0.08
Oracle,Argentina,2.580100e+08,30.05,0.34
SAP SE DRC,Argentina,1.793700e+08,32.42,0.24
Cisco Systems DRC,Argentina,1.659400e+08,14.86,0.32

In [25]:
# print the Global_data frame after cleaning
G20_data.head(10)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,3.9,-2.4,-20.7,no data,no data,no data,no data,no data,no data,no data
Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,9.8,...,2.1,-3.3,8.9,4.8,3.6,3.3,3.4,3.5,3.5,3.5
Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,4.8,...,1,-5.1,3.4,3.2,3.8,3.1,2.5,1.9,1.7,1.7
Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,2,-11.2,8.3,8.8,2.1,1.5,1.5,1.5,1.5,1.5
Angola,2.4,-4.4,0,4.2,6,3.5,2.9,4.1,6.1,0,...,-0.7,-5.6,1.2,3,1.3,3.3,3.4,3.5,3.5,3.6
Antigua and Barbuda,8.2,3.8,-0.1,5.4,10.2,7.6,11.5,6.6,5.2,5.3,...,4.3,-17.5,6.6,8.5,5.6,5.4,4.2,2.8,2.8,2.8
Argentina,0.7,-5.7,-3.1,3.7,2,-7,7.1,2.5,-2,-7,...,-2,-9.9,10.7,5,-2.5,2.8,3.3,3,2.8,2.5
Armenia,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,7.6,-7.2,5.7,12.6,7,5,4.5,4.5,4.5,4.5
Aruba,no data,no data,no data,no data,no data,no data,no data,16.1,18.6,12.1,...,-2.3,-24,27.6,10.5,2.3,1.2,1.2,1.1,1.1,1.1
Australia,2.9,4.1,0.1,-0.5,6.3,5.5,2.4,4.9,4.3,4.6,...,1.9,-1.8,5.2,3.7,1.8,1.2,2,2.2,2.3,2.3