In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Loading Excel Table into DataFrame

df = pd.read_excel("Project 3 Data.xlsx")


# Checking the dataframe
df.head()

,Company_Name,Country,Market_Cap,P/E_Ratio,Dividend
0,Microsoft DRC,Argentina,2.557400e+09,36.97,0.10
1,Apple DRC,Argentina,2.364020e+09,28.31,0.03
2,NVIDIA,Argentina,1.627070e+09,65.68,0.00
3,Broadcom,Argentina,5.124900e+08,34.55,0.34
4,Taiwan Semiconductor Manufacturing Co,Argentina,4.801000e+08,19.98,0.19

In [3]:
# Finding unique countries

Countries = df['Country'].unique()

Countries

array(['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'France',
       'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico',
       'Russia', 'Saudi Arabia', 'South Korea', 'Turkey',
       'United Kingdom', 'USA', 'EU'], dtype=object)

In [4]:
# Setting Country column as Index

Final_df = df.set_index('Country')


# Checking the final DataFrame

Final_df.head()

,Company_Name,Market_Cap,P/E_Ratio,Dividend
Country,,,,
Argentina,Microsoft DRC,2.557400e+09,36.97,0.10
Argentina,Apple DRC,2.364020e+09,28.31,0.03
Argentina,NVIDIA,1.627070e+09,65.68,0.00
Argentina,Broadcom,5.124900e+08,34.55,0.34
Argentina,Taiwan Semiconductor Manufacturing Co,4.801000e+08,19.98,0.19